/* You can add global styles to this file, and also import other style files */

.background_orange{
    background: #f05837;
}

.background_black{
    background: #282726;
}

.background_white{
    background: #ffffff;
}


.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

body{
    overflow-x:hidden;
    overflow-y:hidden;
}

.container-scroll{
    height: 680px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    direction: rtl;
    padding: 15px;
    border: 1px solid #333232;
    border-radius: 3px;
    box-shadow:  0px 0px 7px 2px rgb(27, 26, 26);
}


.container-scroll::-webkit-scrollbar {
  width: 5px;
}

.container-scroll::-webkit-scrollbar-track {
  background: #030303;
}

.container-scroll::-webkit-scrollbar-thumb {
  background-color: #f05837;
  border-radius: 3px;
  border: 1px solid #f05837;
}

#sticky-sidebar{
    border: 2px solid #333232;
    border-radius: 3px;
    box-shadow:  0px 0px 7px 2px rgb(27, 26, 26);
}